<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by yusaku0612</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div id="app">
    <v-app>
      <section class="carousel">
        <br>
        <div class="carousel__main">
          <transition name="active">
            <div class="carousel__main-image"
                :key="images[active].id" 
                v-show="active === images[active].id">
              <img :src="images[active].img">
            </div>
          </transition>
        </div>
        <div @click="prev" class="carousel__prev"><i class="fas fa-angle-left fa-5x"></i></div>
        <div @click="next" class="carousel__next"><i class="fas fa-angle-right fa-5x"></i></div>
        <ul class="carousel__thumbnails">
          <li v-for="(image, id) in images"
            :key="image.id"
            :class="{current: active === image.id}"
            @click="current(image.id)">
          <img :src="image.img">
          </li>
        </ul>
        <v-row class="justify-center mt-3">
          <v-col cols="auto">
            <v-btn color="secondary" elevation="1" fab icon outlined large @click="startSlideshow" v-if="!slideshowActive">
              <v-icon x-large>mdi-play</v-icon>
            </v-btn>
            <v-btn color="secondary" elevation="1" fab icon outlined large @click="stopSlideshow" v-else>
              <v-icon x-large>mdi-stop</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </section>
    </v-app>
  </div>  

</body>
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script><script  src="./script.js"></script>

</body>
</html>
